APP_ENV=development
AD_SLOTS_VISIBLE=false
AUTHOR_NAME=Enquadramento
BASIC_AUTH_ENABLED=false
BASIC_AUTH_USER=
BASIC_AUTH_PASS=
DB_DSN=
DB_USER=
DB_PASS=
FETCH_NEWS_MAX_ATTEMPTS=5
FETCH_NEWS_RETRY_BASE_DELAY_SECONDS=1
